/* ==========================================================================
   #FONTS
   ========================================================================== */

// Place all @font-face declarations in here

// Platform
@font-face {
  font-display: swap;
  font-family: 'Platform';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/Platform-Medium.woff2') format('woff2'), url('../fonts/Platform-Medium.woff') format('woff');
}

@font-face {
  font-display: swap;
  font-family: 'Platform';
  font-style: normal;
  font-weight: bold;
  src: url('../fonts/Platform-Bold.woff2') format('woff2'), url('../fonts/Platform-Bold.woff') format('woff');
}

@font-face {
  font-display: swap;
  font-family: 'Platform';
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/Platform-Regular.woff2') format('woff2'), url('../fonts/Platform-Regular.woff') format('woff');
}

// Atlas Grotesk
@font-face {
  font-display: swap;
  font-family: 'Atlas Grotesk';
  font-style: normal;
  font-weight: bold;
  src: url('../fonts/AtlasGrotesk-Bold.woff2') format('woff2'), url('../fonts/AtlasGrotesk-Bold.woff') format('woff');
}

@font-face {
  font-display: swap;
  font-family: 'Atlas Grotesk';
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/AtlasGrotesk-Regular.woff2') format('woff2'),
    url('../fonts/AtlasGrotesk-Regular.woff') format('woff');
}
