// ImageText Component Styling
@import '../../../sass/settings-tools.scss';

.image-text__header {
  font-size: 50px;
  line-height: 1.2;
  margin-bottom: 40px;

  @include mq($until: palm) {
    margin-bottom: 20px;
    margin-top: 10px;
  }
}

.image-text__image {
  min-height: 300px;
}

.image-text__content-wrapper {
  padding: 120px;

  @include mq($until: desk) {
    padding: 80px;
  }

  @include mq($until: palm) {
    padding: 30px;
  }
}

.image-text__content {
  font-size: 20px;
  max-width: 500px;

  @include mq($until: desk) {
    max-width: initial;
  }
}
