// Callout Component Styling
@import '../../../sass/settings-tools.scss';

@font-face {
  font-display: swap;
  font-family: 'Berlingske Serif';
  font-style: normal;
  font-weight: bold;
  src: url('/fonts/BerlingskeSerif-Bold.woff2') format('woff2'), url('/fonts/BerlingskeSerif-Bold.woff') format('woff');
}

.quote__wrapper {
  padding: 200px 100px;
  position: relative;
}

.quote {
  font-family: 'Berlingske Serif';
  font-size: 60px;
  font-style: normal;
  font-weight: bold;
  line-height: 1.1;
}

.quote__author {
  font-size: 20px;
}

.quote__quote-shape {
  max-width: 400px;
  position: absolute;
  right: 5%;
  top: -50px;
  width: 100%;
  z-index: 100;
}

.quote__rounded-rectangle-shape {
  background-color: $red;
  border-radius: 30px 0 0;
  bottom: 0;
  height: 100%;
  max-height: 170px;
  max-width: 400px;
  position: absolute;
  right: 0;
  width: 100%;
}
